.swiper {
    width: 100%;
    
  }
  
  .swiper-slide {
    text-align: center;
    
    font-size: 7vw;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
button{
  font-size: 3vw !important;
}